<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UserControl.DataAccessLayer.Properties.Settings.CadastroConnectionString"
            connectionString="Data Source=smtinb060\sqlexpress;Initial Catalog=Cadastro;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>